#background {
    -light-black: rgb(74, 75, 78);
    -dark-highlight: rgb(87, 89, 92);
    -dark-black: rgb(39, 40, 40);
    -darkest-black: rgb(5, 5, 5);
    -mid-gray: rgb(216, 222, 227);
}
/*background color*/
.root {
    -fx-background-color: rgb(39, 40, 40);
}

#searching {
    -fx-text-fill: antiquewhite;
    -fx-background-color: #0C3338;
}

.combo-box .cell {
    -fx-text-fill: antiquewhite;
}

.my-list-cell {
    -fx-text-fill: antiquewhite;
    -fx-background-color: -light-black;
    -fx-base: #3A3A3C;
}

.button {
    -fx-background-color: #3A3A3C;
    -fx-text-fill: antiquewhite;
}

.button-bar .button.importButton {
    -fx-background-color: #3A3A3C;
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 3 0 0 3, 2 0 0 2, 2 0 0 2;
}

.button-bar .button.photosButton {
    -fx-background-color: #3A3A3C;
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 3 0 0 3, 2 0 0 2, 2 0 0 2;
}

.button-bar .button.selectAllButton {
    -fx-background-color: #3A3A3C;
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 3 0 0 3, 2 0 0 2, 2 0 0 2;
}

.button-bar .button.exportButton {
    -fx-background-color: #3A3A3C;
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 2 2 0;
}

.button-bar .button.printingButton {
    -fx-background-color: #3A3A3C;
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 2 2 0;
}

.button-bar .button.deselectButton {
    -fx-background-color: #3A3A3C;
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 2 2 0;
}

.button-bar .button.deleteBtn {
    -fx-background-color: #3A3A3C;
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 3 3 3 3, 2 2 2 2, 2 2 2 2;
}

.button-bar .button.zoomPlusBtn {
    -fx-background-color: #3A3A3C;
}

.button-bar .button.zoomMinusBtn {
    -fx-background-color: #3A3A3C;
}

.toggle-button{
    -fx-background-color: -dark-black;
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 0;
}

/*hoovering buttons*/
.button:hover {
    -fx-background-color: #0C3338;
}

#searching:hover {
    -fx-background-color: #0C3338;
}

.combo-box:hover {
    -fx-background-color: #0C3338;
}

.button-bar .button.importButton:hover {
    -fx-background-color: #0C3338;
}

.button-bar .button.exportButton:hover {
    -fx-background-color: #0C3338;
}

.button-bar .button.photosButton:hover {
    -fx-background-color: #0C3338;
}
.button-bar .button.printingButton:hover {
    -fx-background-color: #0C3338;
}
.button-bar .button.selectAllButton:hover {
    -fx-background-color: #0C3338;
}
.button-bar .button.deselectButton:hover {
    -fx-background-color: #0C3338;
}

.button-bar .button.deleteBtn:hover {
    -fx-background-color: #0C3338;
}

.button-bar .button.zoomMinusBtn:hover {
    -fx-background-color: #0C3338;
}

.button-bar .button.zoomPlusBtn:hover {
    -fx-background-color: #0C3338;
}
.toggle-button:hover{
    -fx-background-color: #0C3338;
}
.tool-bar {
    -fx-base: -light-black;
    -fx-font-size: 12pt;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: .9em 0.416667em .9em 0.416667em;
    -fx-effect: dropshadow(two-pass-box, black, 5, .2, 0, 0);
}

.grid {
    -fx-base: -light-black;
    -fx-background-color: #3A3A3C;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0.0 5.0 0.0 5.0;
    -fx-effect: dropshadow(two-pass-box, black, 5, .2, 0, 0);
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.hbox {

    -fx-padding: 15;
    -fx-spacing: 10;
}

#leftText {
    -fx-fill: antiquewhite;
}

.toggle-button {
    -fx-text-fill: antiquewhite;
    -fx-background-color: #3A3A3C;
    -fx-effect: dropshadow(two-pass-box, black, 5, .2, 0, 0);
}

.scroll-pane {
    -fx-background-color: transparent;
}

.toggle-button:selected {
    -fx-background-color: #bbb;
}

